$backgroundDrkBlck:#474747;
$backgroundWhite:#fff;
$backgroundHovr:#922525;
$backgroundBrwn:#800000;
$backgroundGry:#474747;
$backgroundLightGry:#fbfbfb;
$backgroundDarkGry:#f2f0f1;
$backgroundTintGry:#f8f8f8;
$backgroundSilver:#eeeeee;
$backgroundLightBlack:#262626;
$textUpper:uppercase;
$textCapt:capitalize;
$backgroundSize: cover !important;
$backgroundRepeat:no-repeat !important;
$backgroundPosition:center !important;
$bentsonBook:'BentonSans Book';
$bentsonBlack: 'BentonSans';
$railway: 'Raleway', sans-serif;
$positionRelative:relative;
$positionAbsolute:absolute;
$colorBlue:#2e384c;
$colorGry:#777674;
$marginAuto:auto;
$right0:0;
$left0:0;
$top0:0;
$bottom0:0;




